@charset "UTF-8";
/* 命名規則　BEM */

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}
/* header */
#header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.warp{
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}
.logo{
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
.logo a {
  display: block;
}
.inner, .nav__list{
  display: flex;
  align-items: center;
}
/* nav */
.nav__list-item{
  margin-right: 30px;
}
.contact{
  width: 200px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}
.contact:hover{
  background-color: #333;
}

/* main 共通 */
.section-title{
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}
.section-title::after{
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}
.section-title-en{
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}
.section-title-ja{
  display: block;
  font-size: 0.875rem;
  margin-bottom: 36px;
}
/* mainvisual */
#mainvisual{
  margin-bottom: 120px;
}
.mainvisual-img{
  width: 100%;
  height: calc(100vh - 80px);
}
/* news */
#news {
  margin-bottom: 120px;
}
.news___list{
  display: flex;
  justify-content: space-between;
}
.news___list-item{
  width: calc(100%/3);
  border-right: solid 1px #000;
  padding: 10px 20px;
}
.news___list-item:first-child{
  padding-left: 0px;
}
.news___list-item:last-child{
  border: none;
  padding-right: 0;
}
.news___list-item-date{
  margin-bottom: 16px;
}
.news___list-item-date--label{
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}

/* about */
#about {
  display: flex;
  margin-bottom: 120px;
}
.about-img{
  width: 55%;
}
.about-img img{
  width: 100%;
  height: 400px;
}
.about-tex{
  width: 45%;
  padding: 180px 5% 0 5%;
}
.about-tex p {
  line-height: 2.2;
}

/* business */
#business {
  margin-bottom: 120px;
}
.business-cont{
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
.business-cont--left{
  width: 46%;
  margin-top: 100px;
}
.business-cont--right{
  width: 46%;
}
.business-cont--item{
  margin-bottom: 50px;
}
.business-cont--item:last-child{
  margin-bottom: 0px;
}
.business-cont--item-title{
  font-weight: bold;
  margin: 0 0 10px 20px;
  position: relative;
}
.business-cont--item-title::before{
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}

/* company */
#company{
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
}
.company-tex{
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
}
.company-infolist{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.company-infolist-term{
  width: 20%;
  margin-top: 10px;
}
.company-infolist-term:first-of-type{
  margin-top: 0px;
}
.company-infolist-explain{
  width: 80%;
  margin-top: 10px;
}
.company-infolist-explain:first-of-type{
  margin-top: 0;
}
.shift {
  margin-left: 20%;
}
.company-img{
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}
.company-img img{
  width: 100%;
  height: 400px;
}

/* footer */
#footer{
  background-color: #fff;
  padding-bottom: 20px;
}
.footer-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
#footer .logo {
  margin-right: 0;
}
.footer-copyright {
  font-size: 0.625rem;
}

@media screen and (max-width: 900px){
  .logo {
    width: 80px;
    margin: 8px 0;
  }
  .section-title{
    margin-bottom: 34px;
  }
  .section-title-ja{
    margin-bottom: 24px;
  }
  /* header */
  #header .inner{
    flex-direction: column;
    align-items: flex-start;
  }
  .contact{
    display: none;
  }
  /* mainvisual */
  #mainvisual{
    margin-bottom: 80px;
  }
  /* news */
  #news {
    margin-bottom: 80px;
  }
  .news___list{
    flex-direction: column;
  }
  .news___list-item{
    width: 100%;
    border-right: none;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .news___list-itemlast-child{
    margin-bottom: 0;
  }

  /* about   */
  #about {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .about-img{
    width: 100%;
    margin-bottom: 30px;
  }
  .about-img img{
    height: 300px;
  }
  .about-tex{
    width: 100%;
    padding: 0 16px;
  }
  /* business */
  #business {
    margin-bottom: 80px;
  }
  .business-cont{
    flex-direction: column;
    padding: 0px;
  }
  .business-cont--left{
    width: 100%;
    margin: 0 0 30px 0;
  }
  .business-cont--right{
    width: 100%;
  }
  .business-cont--item{
    text-align: center;
    margin-bottom: 30px;
  }
  .business-cont--item-title{
    text-align: left;
  }

  /* company */
  #company{
    height: auto;
    flex-direction: column;
    position: static;
  }
  .company-tex{
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 20px;
    position: static;
  }
  .company-img {
    width: 100%;
    position: static;
  }
  .company-infolist{
    flex-direction: column;
  }
  .company-infolist-term{
    width: 100%;
    margin-top: 20px;
  }
  .company-infolist-explain{
    width: 100%;
    margin-top: 5px;
    padding-left: 14px;
  }
  .company-infolist-explain:first-of-type{
    margin-top: 5px;
  }
  .shift{
    margin-left: 0px;
  }

  /* footer */
  .footer-cont{
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .logo{
    margin-bottom: 10px;
  }
}