@charset "UTF-8";
/* 命名規則　BEM */

/* 全体 */
.wrap{
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
#body{
  color: #383e45;
  font-size: 0.9rem;
}
/* main --共通 */
.section-ttl{
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.section__cont-ttl{
  font-size: 1rem;
  margin: 10px 0;
}

/* header */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo__main{
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.logo__main--style{
  display: block;
}
.nav__list{
  display: flex;
  padding: 10px 0;
}
.nav__list-item{
  margin-left: 30px;
}
.nav__list-item--style{
  color: #24292e;
}
/* hover時 */
.nav__list-item--style:hover{
  opacity: 0.7;
}

/* main */
#mainVisual{
  margin-bottom: 80px;
}
.mainVisual-img{
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}
/* main --about */
.about__cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__cont-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.about__cont-tex{
  text-align: left;
}

/* main --bicycle */
.bicycle__list{
  display: flex;
  justify-content: space-between;
}
.bicycle__list-item{
  width: 32%;
}

/* footer */
#footer{
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}


@media screen and (max-width: 600px) {
  /* main */
  .mainVisual-img {
    height: calc(100vh - 60px);
  }

  /* main-about */
  .about__cont {
    flex-direction: column;
  }
  .about__cont-img {
    margin-right: 0;
  }

  /* main-bicycle */
  .bicycle__list {
    flex-direction: column;
  }
  .bicycle__list-item{
    width: 100%;
    margin-bottom: 30px;
  }
}