@charset "UTF-8";
/* 命名規則　BEM */
body{
  color: black;
  font-family: 'Crimson Text', serif;
}
/* メイン画 */
#mainvisual {
  width: 90vw;
  margin: 4% auto 0 auto;
}
.mainVisual-img{
  max-width: 100%;
  vertical-align: bottom;
}
/* ヘッター */
#header{
  display: flex;
  align-items: center;
  width: 90vw;
  padding: 32px 0;
  margin: 0 auto 30px auto;
}
.site-title{
  width: 110px;
  line-height: 1px;
  margin-right: 50px;
}
.site-title-style {
  display: block;
}
/* ナビ */
.nuv__list{
  display: flex;
}
.nuv__list-item{
  font-size: 0.8rem;
  margin-right: 30px;
}
.nuv__list-item:last-child{
  margin-right: 0px;
}

/* メイン */
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.cont{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.cont-img{
  width: 50%;
}
.cont-tex{
  width: 50%;
  margin: 0 7%;
}
.cont-title{
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 4px;
}
.cont-title__sub{
  display: inline-block;
  margin-bottom: 25px;
}


/* フッター */
#footer{
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 20px 0;
}
.logo {
  width: 110px;
}


@media screen and (max-width: 767px){
  .cont-title{
    font-size: 1.25rem;
  }
  #mainvisual{
    width: 100%;
    margin: 0px;
  }
  .mainvisual-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  #header {
    width: 100%;
    padding: 20px 18px;
  }
  #concept.cont{
    flex-direction: column;
  }
  #work.cont{
    flex-direction: column-reverse;
  }
  .cont-img{
    width: 100%;
    margin-bottom: 10px;
  }
  .cont-tex{
    width: 100%;
    padding: 0px;
  }
}