@charset "UTF-8";
/* 命名規則　BEM */

body{
  font-family: 'Noto Serif JP', serif;
  background-color: #e6e2d7;
  color: #000;
}

/* Header */
#header{
  width: 100%;
  height: 100vh;
  padding: 60px 80px;
  margin-bottom: 180px;
  background-image: url(https://placehold.jp/1920x1280.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center top;
  writing-mode: vertical-rl;          /*ブラウザで反映されない場合もあるので下記ベンダープレフィックスを指定*/
  -webkit-writing-mode: vertical-rl;  /* Chrome、Safari用 */
  -moz-writing-mode: vertical-rl;     /* Firefox用 */
  -ms-writing-mode: tb-rl;            /* IE用 */
  position: relative;
}
/* logo */
.site-title{
  line-height: 1px;
  margin-left: 60px;
}
.site-title a {
  display: block;
}
.site-title img {
  width: 40px;
}
/* nav */
.nav__list-item {
  margin-left: 25px;
}
/* onlineStore */
.onlineStore{
  padding: 8px;
  background: rgba(255,255,255,0.2);
  position: absolute;
  left: 40px;
  bottom: 30px;
}
.onlineStore-style{
  display: block;
  border: solid 1px #ccc;
  padding: 30px 18px;
}
.onlineStore-style:hover{
  opacity: 0.7;
}

/* Main 共通*/
.wrap{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
/* News */
#news{
  margin-bottom: 180px;
  display: flex;
  flex-direction: row-reverse;
}
#news .section-title{
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}
#news .section-title-en{
  display: block;
  font-size: 0.875rem;
  margin-left: 15px;
}
#news .section-title-ja{
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.1em;
}
.section__list{
  padding: 80px 100px 0 0;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}
.section__list-date{
  border-right: solid 1px #000;
  font-size: 0.75rem;
  padding: 15px 30px 15px 5px;
}
.section__list-tex{
  padding: 15px 0 15px 30px;
}
.section__list-tex:last-child{
  border-left: solid 1px #000;
}

/* Products（共通） */
.products {
  display: flex;
  margin-bottom: 180px;
}
.products .section-title {
  font-weight: normal;
  line-height: 1;
}
.products .section-title-ja{
  font-size: 2rem;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.products .section-title-en{
  font-size: 0.875rem;
}
.section__cont{
  width: 65%;
  margin-top: 100px;
  position: relative;
}
.section__cont-tex {
  width: 56%;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: -20px;
}
/* Products-1 */
#products-1 {
  flex-direction: row-reverse;
}
#products-1 .section-title {
  margin-left: 20px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
}
#products-1 .section__cont-tex {
  left: -20px;
  background: rgba(249, 233, 6, 0.6);
}
/* commodity-2 */
#products-2 .section-title {
  margin-right: 20px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}
#products-2 .section__cont-tex {
  right: -20px;
  background: rgba(149, 42, 38, 0.6);
}

/* Map */
.map-style{
  width: 100%;
  vertical-align: bottom;
}

/* Footer */
#footer{
  background-color: #000;
  color: #fff;
  padding: 80px 80px 30px 30px;
}
.footer__cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.footer__cont-left ,
.footer__cont-right{
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl
}
.footer__cont-right-logo{
  width: 40px;
  margin-left: 60px;
}
.footer__cont-right-info{
  line-height: 2;
}
.footer__cont-right-menuList{
  font-size: 1rem;
  margin-right: 60px;
}
.footer__cont-right-menuList-item{
  margin-left: 25px;
}
.copyright{
  font-size: 0.625rem;
  text-align: center;
}


@media screen and (max-width: 768px){
  .wrap{
    max-width: 100%;
  }
  /* Header */
  #header{
    background-image: url(https://placehold.jp/640x760.png);
    padding: 20px;
    margin-bottom: 80px;
  }
  .onlineStore{
    left: 20px;
    bottom: 20px;
  }

  /* News */
  #news{
    margin-bottom: 80px;
  }
  #news .section-title-ja{
    font-size: 1.75rem;
  }
  #news .section__list{
    padding: 20px 30px 0 0;
  }
  .section__list-date{
    padding: 15px 12px 15px 5px;
  }
  /* ４番目以降非表示 */
  .section__list-date:nth-of-type(n + 4){
    display: none;
  }
  .section__list-tex{
    padding: 15px 0 15px 12px;
  }
  .section__list-tex:nth-of-type(3) {
    border-left: solid 1px #000;
  }
  .section__list-tex:nth-of-type(n + 4) {
    display: none;
  }

  /* Products-1,2共通 */
  .products {
    margin-bottom: 100px;
  }
  .products .section-title-ja{
    font-size: 1.5rem;
  }
  /* 英語非表示 */
  .products .section-title-en {
    display: none;
  }
  .products .section__cont{
    width: 90%;
    margin-top: 70px;
  }
  .products .section__cont-tex{
    width: 64%;
    font-size: 0.875rem;
    padding: 30px 0;
  }
  /* Products-1 */
  #products-1 .section-title{
    margin-left: 10px;
  }
  /* Products-2 */
  #products-2 .section-title{
    margin-right: 10px;
  }

  /* Footer */
  #footer {
    padding: 40px 20px 30px 20px;
  }
  .footer__cont-right-logo{
    margin-left: 25px;
  }
  .footer__cont-right-menuList {
    font-size: 0.875rem;
    margin-right: 25px;
  }
  .footer__cont-right-menuList-item{
    margin-left: 10px;
  }
}