
*{
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 100%;
}
img {
  max-width: 100%;
  border-style: none;
  vertical-align:top;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
