@charset "UTF-8";
/* 命名規則　BEM */


body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.875rem;
  color: #2a2a2a;
}
a:hover {
  opacity: 0.7;
}
/* ヘッダー */
#header{
  height: 100vh;
  background-image: url(https://placehold.jp/1920x1269.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}
.logo-position{
  position: absolute;
  top:30px;
  right:30px;
}

/* メイン 共通*/
.wrap{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}
.sec-title{
  font-size: 1.5rem;
  margin-bottom: 20px;
}
/* ボタン */
.btn{
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 0.750rem;
  padding: 14px 36px;
  margin-top: 30px;
}
/* Magazine */
#magazine{
  text-align: center;
  margin-bottom: 80px;
}
.magazine__cont{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.magazine__cont-item{
  width: 49%;
  position: relative;
}
.magazine__cont-item--tex{
  max-width: 290px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
/* Fashion */
#fashion{
  height: 520px;
  background-image: url(https://placehold.jp/1920x480.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}

#catalog, #antique{
  background-color: #f5f5f5;
  padding: 60px 0;
}
.section__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__cont-item{
  width: 48%;
  text-align: center;
}
.section__cont .sec-title{
  margin-bottom: 40px;
}
.section__cont-item-img{
  width: 100%;
}
.section__cont-item--tex{
  margin-bottom: 30px;
  text-align: left;
}
.section__cont-item--tex:last-child{
  margin-bottom: 0px;
}

/* フッター */
#footer{
  background-color: #333;
  font-size: 0.750rem;
}
.footer__cont{
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__cont-item{
  width: 33%;
  line-height: 2em;
}
.footer__cont-item:first-child{
  padding: 60px 0;
}
.footer__cont-item--title{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer__cont-item li:before{
  content: "-";
  margin-right: 5px;
}
.footer__copyright{
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 896px) {
  /* Magazine */
  .magazine__cont{
    flex-direction: column;
  }
  .magazine__cont-item{
    width: 100%;
  }
  .magazine__cont-item:first-child{
    margin-bottom: 30px;
  }
  /* Fashion */
  #fashion {
    padding-top: 35px;
    margin-bottom: 50px;
  }
  /* Catalog & Antique */
  #catalog, #Antique{
    padding: 30px 0;
  }
  .section__cont{
    flex-direction: column;
  }
  .section__cont-item{
    width: 100%;
  }
  .section__cont-item:first-child  {
    margin-bottom: 60px;
  }
  /* フッター */
  .footer__cont{
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__cont-item{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__cont-item:first-child{
    text-align: center;
    padding: 0;
  }
}

