@charset "UTF-8";
/* 命名規則　BEM */


body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.8rem;
  color: black;
}
a:hover {
  opacity: 0.5;
}
/* ヘッダー */
#header{
  width: 100%;
  height: 100vh;
  background-image: url(https://placehold.jp/1200x500.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 70px;
}
.logo-style{
  color: white;
  background-color: black;
  font-size: 2.5rem;
  padding: 2px 10px;
  text-align: center;
}
.logo-position{
  position: absolute;
  top:30px;
  right:30px;
}

/* メイン */
.wrap{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

#magazine{
  text-align: center;
  margin-bottom: 70px;
}
.magazine--title{
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.magazine__cont{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.magazine__cont-item{
  width: 49%;
  position: relative;
}
.magazine__cont-item--tex{
  width: 300px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 18px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.magazine__content-item--title{
  font-size: 1.25rem;
  margin-bottom: 2px;
}

#fashion{
  height: 500px;
  background-image: url(https://placehold.jp/1200x500.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}
.btn{
  border: solid 1px black;
  display: inline-block;
  font-size: 0.7rem;
  padding: 14px 36px;
  margin-top: 30px;
}

#Catalog, #Antique{
  background-color:ghostwhite;
  padding: 60px 0;
}
.section__cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__cont-item{
  width: 47%;
  text-align: center;
}
.section__cont-item--title{
  margin-bottom: 40px;
}
.section__cont-item--tex{
  margin-bottom: 30px;
  text-align: left;
}
.section__cont-item--tex:last-child{
  margin-bottom: 0px;
}
.change-item--2{
  order: 2;
}
.change-item--1{
  order: 1;
}

/* フッター */
#footer{
  background-color: black;
}
.footer__cont{
  display: flex;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.footer__cont-item{
  width: 33%;
  line-height: 2em;
}
.footer__cont-item:first-child{
  padding: 60px 0;
}
.footer__cont-item .logo-style{
  padding: 0px;
  text-align: left;
}
.footer__cont-item--title{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer__cont-item li:before{
  content: "-";
  margin-right: 5px;
}
.footer__copyright{
  background-color: white;
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 900px) {
  .magazine__cont{
    flex-direction: column;
  }
  .magazine__cont-item{
    width: 100%;
  }
  .magazine__cont-item:first-child{
    margin-bottom: 30px;
  }

  #fashion {
    padding-top: 40px;
    margin-bottom: 70px;
  }
  #catalog, #antique{
    padding: 30px 0;
  }
  .section__cont{
    flex-direction: column;
  }
  .section__cont-item{
    width: 100%;
  }
  #catalog .section__cont-item:nth-child(1) {
    margin-bottom: 30px;
  }
  #antique .section__cont-item:nth-child(2){
    margin-bottom: 30px;
  }
  .footer__cont{
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__cont-item{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__cont-item:first-child{
    text-align: center;
    padding: 2px 0;
  }
}

